*.exe
*.obj
*.pdb
*.ilk
*.user
*.lib
*.txt
DamBreakAPI/Makefile.Release
DBppGuiAppl15/Makefile.Debug
DBppGuiAppl15/Makefile.Release
*.Makefile.Debug
*.Makefile.Release
\bin
\doc
\Graph
\debug
\release
DamBreakAPI\debug
DamBreakAPI\release
DamBreakVisualDbg\debug
DamBreakVisualDbg\release
DamBreakAPI/Makefile.Debug
DBppGuiDev.pro.user
DamBreakVisualDbg/debug/qrc_qmake_qmake_qm_files.cpp
DBppGuiAppl15/debug/moc_dbppguiappl15.cpp
DamBreakVisualDbg/Makefile.Debug
DamBreakVisualDbg/Makefile.Release
DBppGuiAppl15/debug/moc_dbppguiappl15.cpp
DamBreakVisualDbg/Makefile.Debug
DamBreakVisualDbg/Makefile.Release