*.exe
*.obj
*.pdb
*.ilk
*.user
*.lib
*.txt
moc_*.cpp
DamBreakAPI/Makefile.Release
DBppGuiAppl15/Makefile.Debug
DBppGuiAppl15/Makefile.Release
*.Makefile.Debug
*.Makefile.Release
\bin
\doc
\debug
\release
\.vscode
DamBreakAPI\debug
DamBreakAPI\release
DamBreakVisualDbg\debug
DamBreakVisualDbg\release
DamBreakVisualDbg/Graphs/
DamBreakAPI/Makefile.Debug
DBppGuiDev.pro.user
DamBreakVisualDbg/debug/qrc_qmake_qmake_qm_files.cpp
DBppGuiAppl15/debug/moc_dbppguiappl15.cpp
DamBreakVisualDbg/Makefile.Debug
DamBreakVisualDbg/Makefile.Release
DBppGuiAppl15/debug/moc_dbppguiappl15.cpp
DamBreakVisualDbg/Makefile.Debug
DamBreakVisualDbg/Makefile.Release
DamBreakVisualDbg/debug/moc_dambreakvisualdbg.cpp
DamBreakVisualDbg/debug/moc_predefs.h
DBppGuiAppl15/debug/moc_predefs.h
